<h1>Soapbox Administration</h1>

{{> logout}}

<p><a href="{{new_post_url}}" role="button">New Post</a></p>

<table>
	<thead>
		<tr>
			<th>Post</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#posts}}
		<tr>
			<td><a href="{{permalink}}">{{title}}</a></td>
			<td>{{date}}</td>
			<td>
				<a href="{{#admin}}edit{{/admin}}">Edit</a> |
				<a href="{{#admin}}delete{{/admin}}" data-action="delete">Delete</a>
			</td>
		</tr>
	{{/posts}}
	</tbody>
</table>

<script>
	$('a[data-action="delete"]').on("click", function(e){
		e.preventDefault();

		var parent = $(this).closest("tr");

		$.ajax({
			type:"GET",
			url: this.href,
			dataType:'json',
			success: function(response){
				if (response.success === true) {
					$(parent).fadeOut("normal", function(){
						parent.remove();
					});
				} else {
					alert(response.body);
				}
			}
		});
	});
</script>