<div id="search-box">
	<form action="{{#url}}search{{/url}}" method="get" id="search-form">
		<label for="search">Search</label>
		<input type="search" name="q" value="{{q}}" id="search" />

		<input type="submit" value="Search" />
	</form>
</div>