<div id="search-box">
	<form action="{{#url}}search{{/url}}" method="get" id="search-form">
		<label for="search">Search</label>
		<input type="search" name="query" value="{{query}}" id="search" />

		<input type="submit" value="Search" />
	</form>
</div>