<h1>{{page_title}}</h1>

{{#has_posts}}
{{#posts}}
<article>
	<h2><a href="{{link}}">{{title}}</a></h2>

	<div class="date">Posted: {{date}}</div>
	{{#has_categories}}
	<div class="categories">
		{{#categories}}
		<a href="{{link}}">{{display}}</a>
		{{/categories}}
	</div>
	{{/has_categories}}

	<div class="contents">
		{{{excerpt}}}
	</div>

	<div class="read-more">
		<a href="{{link}}">Full Post →</a>
	</div>
</article>
{{/posts}}
{{/has_posts}}
{{^has_posts}}
<p>No posts found.</p>
{{/has_posts}}


<p class="archive">
	<a href="{{#url}}archive{{/url}}">Archive →</a>
</p>
