<h1>Login</h1>

{{> message}}

<form action="{{action}}" method="post">
	<div>
		<label for="email">Email</label>
		<input id="email" type="text" name="email" value="{{email}}" />
	</div>
	<div>
		<label for="password">Password</label>
		<input id="password" type="password" name="password" value="{{password}}" />
	</div>

	<p><input type="submit" value="Login" /></p>
</form>
