<article>
	<h2>{{post_title}}</h2>

	<div class="date">Posted: {{date}}</div>
	{{#has_categories}}
	<div class="categories">
		{{#categories}}
		<a href="{{permalink}}">{{display}}</a>
		{{/categories}}
	</div>
	{{/has_categories}}

	<div class="content">
		{{{html}}}
	</div>
</article>
