<!doctype html>
<html>
<head>
	<title>{{title}}</title>

	<!-- Metadata -->
	<meta charset="{{charset}}" />
	{{#meta}}
	{{{.}}}
	{{/meta}}

	<!-- CSS -->
	{{#css}}
	{{{.}}}
	{{/css}}

	<!-- JavaScript -->
	{{#js}}
	{{{.}}}
	{{/js}}

	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>
	<header>
		<h1>My Cool Site</h1>
	</header>

	<div id="content">
		{{> search}}

		{{> content}}
	</div>

	<footer>
		Powered by <a href="https://github.com/daveWid/soapbox">Soapbox</a>
	</footer>
</body>
</html>
